<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
</head>

<body>
	
<h2>Hero</h2>
	
<div class="heroTile">
<img src="img/shit.gif">
<p class="heroHeadline"><span class="HeroHeadAlert">This Just In:</span> Everything's Gone To Shit!</p>
<p class="heroBody">It's true! Climate Change, Trump, economic injustice, poverty, for-profit healthcare, for-profit education, our food is poison, we're morally bankrupt, and intellectually bereft</p>
</div>
	

	
</body>
</html>
