
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Grid</title>
  <meta name="description" content="Basic Grid">
  <meta name="keywords" content="html, css,floats, float left, float right, clearfix, simple grid">  
  <meta name="author" content="Intro to Web"> 
    
  <!-- THIS IS A LINK TO THE EXTERNAL .CSS --> 
  <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/layout.css">
</head>
    

<body>


    <div class="container">
        
        
		
		<div class="row">
            <div class="col-9">
                col-9
            </div>
            <div class="col-3">
                col-3
            </div>
        </div>
		
		
        <div class="row">
            <div class="col-12">
                <div class="nav">
			<a class="navlink" href="news.html">News</a> 
    		<a class="navlink" href="gossip.html">Gossip</a> 
    		<a class="navlink" href="lifestyle.html">Lifestye</a> 
			<a class="navlink" href="real-estate.html">Real Estate</a> 
			<a class="navlink" href="classifieds.html">Classifieds</a> 
				</div>
            </div>
        </div>
        
       
        
        <!-- another row --> 
        <div class="row">
            <div class="col-8">
                
			<div class="heroTile">
			
				<img src="img/shit.gif" class="imgHead" alt="old man yelling into a camera">
				
				<div class="heroHeadline"><span class="HeroHeadAlert">This Just In:</span> Everything's Gone To Shit!</div>
<div class="heroBody">It's true! Climate Change, Trump, economic injustice, poverty, for-profit healthcare, for-profit education, our food is poison, we're morally bankrupt, intellectually bereft, and creatively stagnant.
	<br>
	You can deny it all you want, but deep inside you know its true.
	</div>	
			</div>
				
			<div class="frontPageCarouselOuter">
Top News

<div class="frontPageCarouselInner">
	
<div class="CarouselCell">
	
	<div>
<img src="img/keaton.jpeg" alt="paula pell" class="CarouselImg">
	</div>
<a href="https://letmegooglethat.com/?q=michael+keaton+is+bomb" target="_blank">Michael Keaton is Bomb </a> 
	
	</div>
	
<div class="CarouselCell"> 
	
	<div>
<img src="img/protest.jpeg" alt="paula pell" class="CarouselImg">
	</div>
	
<a href="https://letmegooglethat.com/?q=washington+dc" target="_blank">Protests in Washington DC</a></div>

<div class="CarouselCell"> 
	
	<div>	
<img src="img/paula-pell.jpeg" alt="paula pell" class="CarouselImg"> 
	</div>
	
	
<a href="https://letmegooglethat.com/?q=Paula+Pell+is+Funny+" target="_blank">Paula Pell is Funny&nbsp;</a></div>
</div>
</div>
				
				
<div class="story">
	<div class="storyHeadline">This is a headline</div>
	<div class="storyBody">
	<img src="img/cop.jpg" class="storyImg" alt="something">
	<p>	<strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec turpis eu ex faucibus condimentum quis non orci. In hac habitasse platea dictumst. </strong></p>

	<p>Phasellus vitae leo vitae est egestas aliquet. Praesent ex eros, rutrum at lacus id, blandit viverra ex. Sed quis leo in dolor gravida posuere vel quis ligula. Nullam laoreet pretium pharetra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae tincidunt diam.</p>

	<p>Donec eu eleifend risus, et porttitor elit. Pellentesque dapibus odio nulla, vitae euismod neque imperdiet eu. Cras nec hendrerit eros. Nam at justo non tortor eleifend varius. Etiam facilisis consectetur blandit. Donec auctor maximus imperdiet. Donec eleifend posuere urna non efficitur. Aliquam lacinia cursus erat, in luctus tortor auctor vitae.</p>
	</div>
	
</div>
			
				
				
				
            </div>
            <div class="col-4">
               <div class="sidebar">
	<div class="sidebarHeader"> FEATURES</div>
	
		<div class="sideBarCell">
			<div class="sidebarHeadline">Special</div>
			<div class="sideBarBody">Are you Paranoid Enough? Our Experts Don't Think so!</div>
	</div>
	
	<hr class="whiteLine">

	<div class="sideBarCell">
		<img src="img/russians.jpeg" class="SideBarImg" alt="russian troops">
	<div class="sidebarHeadline">Your Tax dollars at work! </div>
		<div class="sideBarBody">God forbid we get inexpensive health care, or student loan forgiveness, or affordable rents. But hey, cool guns, right?</div>
	<div align="center">
	<hr class="whiteLine">
	</div>
		
		
	<div class="sideBarCell">
		<img src="img/whitney.jpeg" class="SideBarImg" alt="russian troops">
	<div class="sidebarHeadline">The Whitney</div>
		<div class="sideBarBody">Because art is less about expression and more about commoditzation</div>
	</div>
	<div align="center">
	<hr class="whiteLine">
	</div>
	<div class="sideBarCell">
		<img src="img/pilot.jpeg" class="SideBarImg" alt="russian troops">
			<div class="sidebarHeadline">Old Guy Who's a Pilot</div>
		<div class="sideBarBody">No snark, its just kinda cool</div>
	</div>

		
</div>
						
            </div>

        </div>
        
        <!-- another row --> 
  
				 
     </div>	
				 
						 



	</div>
</body>

</html>
 