@charset "UTF-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	background: #000;
}

.outer {
	text-align: center;
	background-color: aquamarine;
}

.page{
	display: inline-block;
	max-width: 1200px;
	background-color: lavender;
}

